##### 라이브러리

In [2]:
import pandas as pd

##### 데이터 불러오기

In [30]:
# 실습용자료 불러와 csv로 저장, DataFrame으로 불러오기
train = pd.read_table("./data/1. 실습용자료.txt", encoding='CP949')
train.to_csv('./data/train.csv', index=False)
train = pd.read_csv('./data/train.csv', sep='|')

In [31]:
#  불러와 csv로 저장, DataFrame으로 불러오기
test = pd.read_table("./data/2. 모델개발용자료.txt", encoding='CP949')
test.to_csv('./data/test.csv', index=False)
test = pd.read_csv('./data/test.csv', sep='|')

In [32]:
train

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95.0,952.0,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47.0,472.0,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46.0,467.0,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47.0,475.0,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87.0,872.0,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13.0,134.0,제품입고,워싱,청바지워싱
999996,id_0999997,F,42.0,424.0,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47.0,474.0,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85.0,856.0,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56.0,561.0,사업장에서,접객시설을 갖추고,한식(미역구)판매

In [33]:
test

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_000001,NaN,NaN,NaN,치킨전문점에서,고객의주문에의해,치킨판매
1,id_000002,NaN,NaN,NaN,산업공구,다른 소매업자에게,철물 수공구
2,id_000003,NaN,NaN,NaN,절에서,신도을 대상으로,불교단체운영
3,id_000004,NaN,NaN,NaN,영업장에서,고객요구로,자동차튜닝
4,"id_000005||||실내포장마차에서|접객시설을 갖추고|소주,맥주제공",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
99995,id_099996,NaN,NaN,NaN,사업장에서,일반인대상으로,버섯농장
99996,id_099997,NaN,NaN,NaN,한의원에서,외래환자위주고,치료
99997,id_099998,NaN,NaN,NaN,일반점포에서,소비자에게,그림판매
99998,id_099999,NaN,NaN,NaN,사업장에서,일반인.학생대상으로,학습공간제공
99999,id_100000,NaN,NaN,NaN,사업장에서,대리현대아파트를,관리

In [25]:


# 일련번호(AI_id), 산업대분류(digit_1), 산업중분류(digit_2), 산업소분류(digit_3), 사업 대상(text_obj), 사업 방법(text_mthd), 사업 취급품목(text_deal)

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95.0,952.0,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47.0,472.0,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46.0,467.0,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47.0,475.0,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87.0,872.0,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13.0,134.0,제품입고,워싱,청바지워싱
999996,id_0999997,F,42.0,424.0,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47.0,474.0,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85.0,856.0,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56.0,561.0,사업장에서,접객시설을 갖추고,한식(미역구)판매